/* Resets */
*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
html,
body {
	height: 100%;
}
body {
	font-family: Ubuntu, -apple-system;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;

	/* to be removed */
	padding: 1rem;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
#root,
#__next {
	isolation: isolate;
}

/* App styles */
.App {
	text-align: center;
}
.Lottery {
	/* display: flex;
	flex-direction: column;
	gap: 1rem; */
}
.Lottery-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;

	margin: 1rem 0;
}
.LottoBall {
	color: white;
	background-color: tomato;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	padding: 1rem;
}
