/* Light */
:root {
	--primary: #19a0f6;
	--primaryLight: rgba(25, 160, 246, 0.1);
	--primaryBG: #ffffff;
	--secondaryBG: #f6f7f9;
}
/* Dark */
:root {
	--primary: #19a0f6;
	--primaryLight: rgba(25, 160, 246, 0.1);
	--primaryBG: #23272f;
	--secondaryBG: #343a46;
}

h1 {
	transition: ease 2s;
}
