* {
	padding: 0;
	margin: 0;
}
body {
	padding: 1rem;
	font-family: -apple-system;

	/* Lightmode */
	/* background-color: white;
	color: #282c34; */

	/* Darkmode */
	background-color: #282c34;
	color: white;
}
.Pokecard {
	/* Lightmode */
	/* background-color: hsl(0, 0%, 95%);
	border: 1px solid hsl(0, 0%, 98%); */

	/* Darkmode */
	background-color: hsl(220, 13%, 25%);
	border: 1px solid hsl(220, 13%, 30%);
}
