.Die {
	font-size: 9em;
	color: dodgerblue;
}
.shaking {
	/* set animation to Die */
	animation-name: wobble;
	animation-duration: 1s;
}

/* 
Add animation:
  1. Declare @keyframes and give it a name (ie. wobble)
  2. Define a set of steps along the way for how we want our animation to work
  3. Then, we're going to tell it how long it should take
*/
@keyframes wobble {
	from {
		transform: translate3d(0, 0, 0);
	}
	15% {
		transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
	}
	30% {
		transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
	}
	45% {
		transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
	}
	60% {
		transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
	}
	75% {
		transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
	}
	to {
		transform: translate3d(0, 0, 0);
	}
}
